html {
  background-color: #35424a;
}

.containerComponent {
  background-color: #35424a;
  width: 100%;
}

.cardComponent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 5%;
  background-color: #282c34;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card .title {
  font-size: 24px;
  color: #9dadcc;
  background-color: #272b33;
  padding: 4px;
}

.containerCard {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 8px 0 16px 0;
}

.containerCard li {
  color: #9dadcc;
  width: 75%;
  margin-top: 1%;
}

.containerCard li:nth-child(2n) {
  background-color: #313640;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.containerCard li:nth-child(odd) {
  margin-top: 4%;
}

ul .liCasesGreen {
  color: green;
}
ul .liCasesRed {
  color: #a52626;
}
ul .liCasesOrange {
  color: #a87515;
}

.lastStatisticContainer {
  padding: 5%;
}

.lastStatistic {
  font-size: 14px;
  color: #282c34;
}

.subtitle {
  font-size: 12px;
}

.card.wide {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 8px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .containerComponent {
    background-color: #35424a;
    width: 100%;
    overflow: hidden;
  }
  .cardComponent {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    flex-direction: row;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    background-color: #282c34;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 30vw;
    min-height: 550px;
  }
}



@media (min-width: 375px) {
  .card.wide {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .card.wide {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .card.wide {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .card.wide {
    width: 80%;
  }
}