html {
  background-color: #35424a;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8px 0 16px 0;
  margin-bottom: 10vh;
}

.wrapper {
  flex: 1;
  max-width: 320px;
  min-width: 250px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  border-radius: 5px;
  box-shadow: 4px 8px 16px 0px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  list-style: none;
  padding: 8px;
  box-sizing: border-box;
  margin: 8px 0 0;
}

.cardWorld {
  min-height: 320px;
  justify-content: space-between;
}

.cardWorld li {
  padding: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #313640;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.itemLabel {
  flex: 1;
  color: #9dadcc;
  font-weight: 500;
}

.itemValue {
  flex: 1;
  color: #9dadcc;
  font-weight: 400;
}

.lastupdateServer {
  width: 100%;
}

.icon {
  margin-left: 10px;
}

.iconServer {
  margin-right: 10px;
}

.lastupdateServer {
  padding: 8px;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
}

.lastupdateServerText {
  font-size: 18px;
  color: #282c34;
  display: flex;
  align-items: center;
}