.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  display: flex;
  align-self: center;
  height: 10vh;
  font-size: calc(1em);
  background-color: #282C34;
  color: #9DADCC;
  padding: 0 0 0 16px;
  align-items: center;
  width: 100%;
}

.footer{
  background-color: #282C34;
  width: 100%;
  height: 7vh;
  color: #9dadcc;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  user-select: none;

}

.footer a {
  text-decoration: none;
  color: #9dadcc;
  padding: 8px;
}

.footer a:hover {
  color: #c1cce2;
}

