.App {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.header {
  background-color: #282C34;
  min-height: 10vh;
  display: flex;
  align-self: center;
  font-size: calc(10px + 2vmin);
  color: #9DADCC;
  padding: 0 0 0 16px;
  align-items: center;
}

